body {
	font-family: sans-serif;
	color: gold;
}

*{
	box-sizing: border-box;
	}

a{
	text-decoration: none;
	color: inherit;
}

ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
.inventory{
	height: 100vh;
}

.bg-image{
	background-image: url(../images/bg.png);
	height: 100%;
}

.border-image{
	background-image: url(../images/border.png);
	height: 100%;
	/*background-size: contain;*/


	/*-----------------------*/
	background-size: 100vw 100vh;



	/*-----------------------*/


	background-position: center;
	background-repeat: no-repeat;
	margin: 0 auto;
	/*max-width: 70vw;*/
	border: 2px solid red;
	display: flex;

	/*---------------*/
	justify-content: center;
	align-items: center;

}

.wrapper {
    border: 1px solid orange;
    height: 80%;
    width: 79%;
    display: flex
}


.left {
    width: 50%;
    border: 1px solid green;
    height: 100%;
    background-image: url(../images/bg_item.png);
    background-size: 100% 100%;
}

.right {
	width: 50%;
	border: 1px solid yellow;
	height: 100%;
	background-image: url(../images/bg_item-right.png);
	background-size: 100% 100%;
}

/*

.bg-left{
	background-image: url(../images/bg_item.png);
	z-index: 4;
	width: 41%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.right {
	width: 50%;
	border: 1px solid yellow;
	height: 61%;
}

.bg-righ{
	background-image: url(../images/bg_item-right.png);
	z-index: 5;
	width: 41%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}*/